html {
  background: #000; }

body {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
  color: #9da1a5;
  background-size: cover;
  background-repeat: no-repeat;
  background: #191a1c; 
}